@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root{
    --primary: rgb(81 245 133);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('./assets/Homebg.380d90b906cfc80318a3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}




/* GLOBAL STYLES */

.btn-primary{
    color: rgb(1 25 51);
    background-color: var(--primary);
    font-weight: 700;
}

.btn-secondary{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    outline: 1px solid var(--primary);
    outline-offset: -1px;
}

.btn-big{
    padding: 0.8rem;
    font-size: 20px;
    font-weight: 800;
}

.btn-round{
    font-size: 24px;
    padding: 1rem 2rem;
    border-radius: 5rem;
    margin-top: 5rem;
}

button{
    border: none;
    cursor: pointer;
}

section{
    display: flex;
}

/* END */

nav{
    display: flex;
    padding: 2.25rem 4.5rem;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav img{
    margin-right: 5px;
    height: 40px;
}

nav h3{
    text-transform: uppercase;
    font-weight: 800;
    line-height: 100%;
    font-size: 14px;
}


.launch-app-btn{
    padding: 0.5rem;
    font-size: 18px;
}

.nav-links a, .social-btn-group a{
    text-decoration: none;
    color:#fff;
    margin-right: 50px;
    font-weight: 500;
}


.nav-links a:hover, .social-btn-group a:hover{
    color: var(--primary);
}

.nav-links svg, .social-btn-group svg{
    fill: #fff;
    margin: auto;
    height: 30px;
    width: 30px;
    margin-right: 1rem;
    vertical-align: middle;
}

.social-btn-group a:nth-child(2), .social-btn-group a:nth-child(2) svg{
    margin-right: 0;
}

.x-svg svg{
    height: 25px;
    width: 25px;
}

.nav-links svg:hover, .social-btn-group svg:hover{
    fill: var(--primary);
}

.hero-btn-left{
    padding: 0.8rem 2rem;
    margin-right: 30px;
}

.hero{
    height: 86vh;
}

.hero-left{
    height: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-left h1{
    font-size: 72px;
    font-weight: bold;
}

.hero-left h3{
    font-size: 32px;
    font-weight: 500;
}

.hero-left h4{
    font-size: 20px;
    font-weight: 400;
}

.hero-btn-group{
    margin-top: 5rem;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img{
    width: 140%;
    max-width: 600px;
}

.about{
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/about-bg.1e9ffd8c981b449eb0d5.png");
    background-repeat: no-repeat;
    padding: 0 60px;
}

.about h2{
    font-size: 48px;
    padding: 2.5rem 0;
}

.about-grid{
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.about-grid>div{
    max-width: 45vw;
}

.about-grid h3{
    font-size: 36px;
    padding-top: 2.5rem;
}

.about-grid p{
    font-size: 20px;
}

.about-grid a{
    font-size: 24px;
    font-weight: 400;
    color: var(--primary);
    text-decoration: none;
}

.read-more{
    padding: 2rem 0;
}

.right-aligned{
    text-align: right;
}

.left-aligned{
    text-align: left;
}

.we-are{
    flex-direction: column;
    align-items: center;
}

.we-are>h2{
    font-size: 48px;
    margin-top: 9rem;
    margin-bottom: 2.5rem;
}

.green-box img{
    max-width: 100%;
}

.green{
    color: var(--primary);
}

.green-box-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    padding: 60px;
    text-align: center;
}

.green-box{
    background: linear-gradient(180deg, rgba(0, 200, 64, .23), rgba(0, 11, 23, .23));
    border: 1px solid #51f585;
    min-height: 530px;
    padding: 10px;
}

.green-box h2{
    font-size: 24px;
    font-weight: 400;
    margin-top: 1.25rem;
}

.green-box p{
    font-size: 20px;
    max-width: 300px;
    margin-top: 1.25rem;
}

.main-activity{
    flex-direction: column;
    align-items: center;
    padding: 80px 60px;
}

.main-activity h1{
    font-size: 72px;
}

.main-activity h3{
    font-size: 48px;
    margin-top: 5rem;
}

.omega-fund{
    width: 100%;
    text-align: center;
    display: grid;
    padding: 4rem 0;
    grid-template-columns: auto auto auto;
}

.omega-fund h4{
    font-size: 48px;
    color: var(--primary);
}

.omega-fund p{
    font-size: 20px;
}

.launchpad{
    flex-direction: column;
    margin: 5rem 0;
    padding: 0 60px;
    text-align: center;
}

.launchpad h1{
    font-size: 72px;
}

.launchpad img{
    margin: 2.5rem 60px;
}

.para{
    margin: auto;
    text-align: center;
    width: 75%;
}

.para p{
    font-size: 32px;
}

.roadmap{
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem 60px;
}

.roadmap h1{
    font-size: 72px;
}

.roadmap img{
    padding: 5rem 70px;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(2 24 51);
    padding: 5rem;
}

footer img{
    height: 50px;
    margin-bottom: 1rem;
}

.social-btn-group a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
}


/* LUANCHPAD CSS */

.launchpad-body {
    background: linear-gradient(rgb(4, 7, 13),rgb(5, 24, 47), rgb(0, 31, 63));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.launchpad-nav{
    width: 100%;
    margin: 0;
    padding: 1rem 3.5rem;
    background: rgb(3, 13, 25);
}

.launchpad-nav .nav-links{
    margin-left: 5rem;
}

.launchpad-nav .nav-links a{
    margin-right: 2rem;
    font-weight: 700;
}

.nav-link-btns{
    display: flex;
    align-items: center;
}

.nav-link-btns div{
    height: 50px;
    margin-right: 1rem;
    border: 1px solid rgb(0, 32, 67);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(rgb(0, 35, 73) 0%, rgba(0, 11, 23, 0) 100%);
}

.nav-link-btns button{
    background-color: #0E76FD;
    border-radius: 12px;
    padding: 0 14px;
    height: 40px;
    color: #fff;
    font-weight: 600;
}

.launchpad-content, .vault-content{
    display: flex;
    justify-content: center;
}

.private-sale{
    margin-top: 3.5rem;
    background: linear-gradient(rgb(0, 35, 73) 0%, rgba(0, 11, 23, 0) 100%);
    width: 900px;
    border: 1px #fff solid;
    border-radius: 0.4rem;
}

.private-sale>p{
    margin: 2.5rem;
    margin-bottom: 5rem;
}

.private-sale-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.private-sale-top h2{
    padding: 7px;
    border: 2px solid rgba(128, 128, 128, 0.1);
    border-radius: 0.4rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.private-sale-middle{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    font-size: 16px;
    font-weight: 600;
}

.private-sale-middle>p{
    margin-top: 0.5rem;
}

.private-sale-middle>hr{
    height: 0px;
    border: 1px #fff solid;
    border-width: 0 0 1px;
    opacity: 0.6;
    margin-top: 0.5rem;
}

.sale-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.5rem;
    border-radius: 0.4rem;
    padding: 1rem;
    background: rgba(42, 67, 101, 0.4);
}

.sale-grid>div{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-radius: 0.4rem;
    border: 2px solid rgba(173, 216, 230, 0.1);
    background: rgb(42, 67, 101);
}

/* END */


/* VAULT CSS */

.vault-content{
    margin-bottom: 2rem;
}

.vault-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem;
    margin-top: 3.5rem;
}

.vault-card{
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(0, 35, 73) 0%, rgba(0, 11, 23, 0) 100%);
    border-radius: 10px;
    padding: 1.25rem 2rem;
    font-weight: 500;
    border: 1px solid gray;
}

.vault-card>p{
    font-weight: 600;
    color: rgb(132, 132, 132);
}

.vault-card>h1{
    font-size: 170px;
    padding: 1.25rem;
}

.vc-1>h1{
    color: rgb(84, 166, 255);
}

.vc-2>h1{
    color: rgb(0, 192, 61);
}

.vc-3>h1{
    color: rgb(186, 144, 0);
}

.vault-details{
    width: 100%;
    display: grid;
    grid-template-columns: auto 50%;
    gap: 1rem;
}

.skeleton{
    background-color: rgba(201, 201, 201, 0.353);
    height: 100%;
    border-radius: 2px;
}

.vault-quantity{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vault-quantity input{
    border: 1px solid #CBD5E0;
    background: transparent;
    padding: 0.5rem 0 0.5rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    max-width: 50%;
    border-radius: 0.4rem;
    margin-left: 1rem;
}

.vault-select-btn{
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 150px;
    background-color: rgb(0, 192, 61);
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.vault-select-btn:hover{
    background-color: rgb(56, 233, 112);
}

/* END */

.footer-alt{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0;
    background: none;
}

.footer-alt h3{
    text-transform: uppercase;
    font-weight: 800;
    line-height: 100%;
}

.footer-alt img{
    margin: 0;
}



/* REWARD CSS */

.reward-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reward-body>h1{
    font-size: 1.875rem;
}

.rewards-card-container{
    display: flex;
}

.reward-card{
    width: 370px;
    font-weight: 600;
    text-align: center;
    border: 1px solid white;
    border-radius: 0.4rem;
    margin-right: 2.5rem;
    padding: 2rem 1.25rem;
    background: linear-gradient(rgb(0, 35, 73) 0%, rgba(0, 11, 23, 0) 100%);
}


.row{
    display: flex;
}

.col{
    margin: 1rem;
}

.col>p{
    color: rgb(0, 192, 61);
}

.reward-card .skeleton{
    margin-top: 0.5rem;
    height: 24px;
}



/* END */


.reward-body, .fund-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fund-content{
    width: 100vw;
}

.fund-head{
    text-align: center;
}

.fund-head h2{
    font-size: 48px;
    color: rgb(0, 192, 61);
}

.fund-content .omega-fund h4{
    color: rgb(0, 192, 61);
}

.fund-bottom{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.fund-bottom>div{
    text-align: center;
}

.fund-bottom p{
    font-size: 24px;
}

.fund-bottom h4{
    font-size: 34px;
    color: rgb(0, 192, 61);
}

.read-doc-btn{
    margin: 0 2rem;
}